@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}



<style>
    body {
        background-color: #004d40; /* verde escuro */
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: white; /* texto branco */
    }
    .container {
        max-width: 1800px;
        margin: 0 auto;
        text-align: center;
    }
    .jumbotron {
        background-color: #ffffff; /* branco */
        padding: 30px;
        border-radius: 10px;
    }

    .display-4 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black; /* texto preto */
    }

    .lead {
        font-size: 24px;
        margin-bottom: 20px;
        color: black; /* texto preto */
    }

    .my-4 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .center {
        text-align: center;
    }

    hr {
        border-color: white;
    }
</style>

<!-- Conteúdo da Página -->
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bem-vindo</h1>
        <h2 class="display-4">Sistema de Estoque RD Embu</h2>
        <h3 class="lead">Gerencie seu estoque de forma eficiente e fácil.</h3>
        <hr class="my-4">
        <p class="center">Use as opções de navegação acima para acessar as funcionalidades do sistema.</p>
    </div>
</div>

