@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}



<style>
    body {
        background-color: green;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .center{
        text-align:center;
    }
</style>

<!-- Conteúdo da Página -->
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bem-vindo</h1>
        <h2 class="display-4">Sistema de Estoque RD Embu</h2>
        <h3 class="lead">Gerencie seu estoque de forma eficiente e fácil.</h3>
        <hr class="my-4">
        <p class="center">Use as opções de navegação acima para acessar as funcionalidades do sistema.</p>
    </div>
</div>

